<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="data_db.properties">
		<property name="db_driver" value="com.mysql.jdbc.Driver" />
		<property name="db_encoding" value="UTF8" />
	</properties>
	<typeAliases>
		<!-- 微信数据 -->
		<typeAlias alias="WeChatPAInsert" type="zx.soft.sns.dao.domain.WeChatPAInsert" />
		<typeAlias alias="WeChatAInsert" type="zx.soft.sns.dao.domain.WeChatAInsert" />
	</typeAliases>
	<environments default="sns">
		<environment id="sns">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="url" value="${sns.db.url}" />
				<property name="username" value="${sns.db.username}" />
				<property name="password" value="${sns.db.password}" />
				<property name="driver" value="${db_driver}" />
				<property name="driver.encoding" value="${db_encoding}" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select 1" />
				<property name="poolPingConnectionsNotUsedFor" value="5000" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="WeChatDaoMapper.xml" />
	</mappers>
</configuration>
	