<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zx.soft.sns.dao.weixin.WeixinInfoDao">

	<!-- 插入微信记录数据 -->
	<insert id="insertWeixinRecord" parameterType="WeixinRecordInsert"
		useGeneratedKeys="true" keyProperty="id" flushCache="true"
		statementType="PREPARED">
		INSERT INTO ${tablename}
		(`wid`,`name`,`open_id`,`head_url`,`description`,`verify_info`,`lasttime`)
		VALUES
		(#{wid},#{name},#{openId},#{headUrl},#{description},#{verifyInfo},UNIX_TIMESTAMP());
	</insert>

	<!-- 查询微信记录数据，根据微信号查询所有相关记录 -->
	<select id="selectWeixinRecordsByWid" parameterType="WeixinRecordSelect"
		resultType="WeixinRecordInfo">
		SELECT `wid`,`name`,`open_id`,`head_url`,`description`,`verify_info`
		FROM ${tablename}
		WHERE `wid` = #{wid};
	</select>

</mapper>